<% layout('layouts/boilerplate')%>
    <!--content-->
    <div class="container-fluid">
        <div class="row thumbnail">
            <div class="col-sm-4">
                <img style="width: 100%; height: 500px; display: block;" src="<%=book.image%>"
                    data-holder-rendered="true">
            </div>
            <div class="col-sm-8">
                <div class="caption">
                    <h3>
                        Book Title : <%=book.title%>
                    </h3><!-- Title-->
                    <h4 class="d-block">
                        Author: <%=book.author%>
                            <!-- Author -->
                    </h4>
                    <h3>
                        Stock : <%=book.stock%>
                    </h3>

                    <h3>Description</h3><!-- Book discreption -->
                    <p>
                        <%=book.description%>
                    </p>
                    <!-- How is this working???????????????????????????????????????????????????? -->
                    <% if(currentUser && book.stock> 0) { var match = false%>
                        <% currentUser.bookIssueInfo.forEach(book_info=> { %>
                            <% if(book_info._id.equals(book._id)) { %>
                                <a href="#" class="btn btn-xs btn-warning disabled" role="button"
                                    aria-disabled="true">Borrowed!</a>
                                <a href="/books/return-renew" class="btn btn-xs btn-success"
                                    role="button">Return/Renew</a>
                                <% match=true; } %>
                                    <% }) %>

                                        <% if(!match) {%>
                                            <form action="/books/<%=book._id%>/issue/<%=currentUser._id%>" method="POST"
                                                class="d-inline">
                                                <input class="btn btn-xs btn-success" type="submit" value="Borrow">
                                            </form>
                                            <% } %>
                                                <% } %>
                </div>

            </div>

        </div>
    </div>